<% include ../../partials/dashboard_partials/head %>
	<div class="container" id="notification_view">
		<h3>Notifications</h3>
		<div class="col-md-8 col-md-offset-2">
			<% if( notifs.global.length > 0 ) { %>
				<% for( var i in notifs.global ) {%>
					<div class="each_notification row">
						<div>
							<small class="pull-right"><%= notifs.global[i]['notif_date'] %></small><hr>
							<h4 class="each_notification_message"><%- notifs.global[i]['msg'] %></h4>
							<small class="col-md-9">
								<div>
									<span>Type: </span><label> <%= notifs.global[i]['for'] == 'admin'? 'Team administration': 'Personal' %></label>
								</div>
								<div>
									<span>State: </span><label> <%= (notifs.global[i]['response'] == '' || typeof notifs.global[i]['response'] == 'undefined' )? 'Not handled': notifs.global[i]['response'] %></label>
								</div>
							</small>
							<% if (notifs.global[i]['response'] == '' || typeof notifs.global[i]['response'] == 'undefined') { %>
								<div class="col-md-3 text-right">
									<a href="#" class="btn btn-default jq_accept_joining" data-nid="<%= notifs.global[i]['_id'] %>" data-uid="<%= notifs.global[i]['data']['uid'] %>" data-tid="<%= notifs.global[i]['data']['tid'] %>" >Accept</a> &nbsp; 
									<a href="#" class="btn btn-default jq_reject_joining" data-nid="<%= notifs.global[i]['_id'] %>" data-uid="<%= notifs.global[i]['data']['uid'] %>" data-tid="<%= notifs.global[i]['data']['tid'] %>">Reject</a>
								</div>
							<% } else {%>
								<div class="col-md-3 text-right">
									<strong>Notification handled.</strong>
								</div>
							<% } %>
						</div>
					</div>
				<% } %>
			<% } else { %>
				<div>No new notifications yet!</div>
			<% } %>
		</div>
	</div>
<% include ../../partials/dashboard_partials/foot %>